[submodule "external/clipp"]
	path = external/clipp
	url = git@github.com:muellan/clipp.git
[submodule "external/libaom"]
	path = external/libaom
	url = https://aomedia.googlesource.com/aom
[submodule "external/libpng"]
	path = external/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "external/libavif-container"]
	path = external/libavif-container
	url = git@github.com:link-u/libavif-container.git
[submodule "external/zlib"]
	path = external/zlib
	url = git@github.com:madler/zlib.git
	ignore = dirty
[submodule "external/vmaf"]
	path = external/vmaf
	url = git@github.com:Netflix/vmaf.git
[submodule "external/Little-CMS"]
	path = external/Little-CMS
	url = git@github.com:mm2/Little-CMS.git
