[submodule "external/clipp"]
	path = external/clipp
	url = https://github.com/muellan/clipp
[submodule "external/libaom"]
	path = external/libaom
	url = https://aomedia.googlesource.com/aom
	ignore = dirty
[submodule "external/libpng"]
	path = external/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "external/libavif-container"]
	path = external/libavif-container
	url = https://github.com/link-u/libavif-container
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
[submodule "external/vmaf"]
	path = external/vmaf
	url = https://github.com/Netflix/vmaf
