[submodule "external/clipp"]
	path = external/clipp
	url = git@github.com:muellan/clipp.git
[submodule "external/libaom"]
	path = external/libaom
	url = https://aomedia.googlesource.com/aom
[submodule "external/libpng"]
	path = external/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external/libavif-container"]
	path = external/libavif-container
	url = git@github.com:link-u/libavif-container.git
[submodule "external/zlib"]
	path = external/zlib
	url = git@github.com:madler/zlib.git
	ignore = dirty
