Source: cavif
Section: unknown
Priority: optional
Maintainer: Ryo Hirafuji <ryo.hirafuji@link-u.co.jp>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/cavif.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/cavif.git

Package: cavif
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
