Source: cavif
Section: unknown
Priority: optional
Maintainer: Ryo Hirafuji <ryo.hirafuji@link-u.co.jp>
Build-Depends: debhelper (>= 10), cmake (>= 3.13), gcc-9, g++-9, libc6-dev, libstdc++-9-dev, yasm
Standards-Version: 4.1.2
Homepage: https://github.com/link-u/cavif
Vcs-Git: https://github.com/link-u/cavif.git
Vcs-Browser: https://github.com/link-u/cavif

Package: cavif
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: avif encoder, using libaom directly.
 The most significant mission of this project is
 "Make it enable to tune libaom's all encoding options to optimize
 quality/size ratio as nice as possible human beings can".
