name: Build on Windows

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
        fetch-depth: 0
    - name: Install dependencies
      shell: cmd
      run: |
        set MSYSTEM=MINGW64
        C:\msys64\usr\bin\bash -lc "pacman -S mingw-w64-x86_64-nasm mingw-w64-x86_64-cmake --noconfirm"
    - name: configure
      shell: cmd
      run: |
        set MSYSTEM=MINGW64
        C:\msys64\usr\bin\bash -lc "cd ${GITHUB_WORKSPACE} && mkdir build && cd build && cmake .. -G 'MSYS Makefiles' '-DCMAKE_CXX_FLAGS=-static'"
    - name: make
      shell: pwsh
      run: |
        C:\msys64\usr\bin\bash -lc "cd ${GITHUB_WORKSPACE}/build && make -j && strip cavif.exe"
    - name: archive
      shell: pwsh
      run: |
        7z a cavif-win64.7z "build\*.exe"
