name: Build on Windows

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
        fetch-depth: 0
    - name: Install dependencies
      shell: pwsh
      run: |
        pip3 install wheel
        pip3 install meson
        pip3 install ninja
        choco install yasm
    - name: configure
      shell: pwsh
      run: |
        cmake -S . -B build
    - name: make
      shell: pwsh
      run: |
        cd build
        nmake
